* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    background: rgb(211, 84, 84);
}

#content {
    background: #fff;
    width: 1200px;
    margin: 0 auto;
    top: 5vh;
    padding: 2rem;
    position: relative;
    height: 90vh;
    border-radius: 10px;
    text-align: center;
    border: 3px solid rgb(211, 84, 84);
}

.heading {
    top: 0.5vh;
    position: relative;
    color: rgb(211, 84, 84);
    text-decoration: underline;
}

.inputsDiv {
    position: relative;
    top: 5vh;
}

input {
    width: 320px;
    height: 40px;
    font-size: 19px;
    border: 3px solid rgb(211, 84, 84);
    margin: 0.3rem;
    padding: 1rem;
    border-radius: 10px;

}

button {
    height: 40px;
    font-size: 19px;
    padding: 0.4rem;
    background: lightseagreen
}

#container {
    position: relative;
    top: 8vh;
}

#container>div {
    padding: 1rem;
    max-width: 400px;
    word-wrap: break-word;
    text-align: left;
    font-size: 22px;
    margin-left: 23rem;
    margin-top: 0.3rem;
    background: rgb(211, 84, 84);
    border-radius: 10px;
    color: #fff
}